<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @metric.name %><br>
  <b>Type:</b>
  <%= @metric.type %>
</p>



<%= link_to 'Edit', edit_user_habit_metric_path(@user, @habit, @metric) %> |
<%= link_to 'Back', user_habit_path(@user, @habit) %>


